server:
  port: ${SERVER_PORT}
spring:
  datasource:
    url: ${DB_URL}
    driver: "com.mysql.cj.jdbc.Driver"
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    format-sql: true

app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}

jwt:
  signerKey: ${JWT_SECRET}
